@media (max-width: 780px) {
  .so-widget-sow-button-atom-4c9c16ec43b1-20024 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-atom-4c9c16ec43b1-20024 .ow-button-base.ow-button-align-center.ow-button-align-justify a {
    display: inline-block;
  }
}
.so-widget-sow-button-atom-4c9c16ec43b1-20024 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  font-size: 1em;
  padding: 1em 2em;
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #000000, #000000);
  background: -moz-linear-gradient(center bottom, #000000 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-4c9c16ec43b1-20024 .ow-button-base a.ow-button-hover:active,
.so-widget-sow-button-atom-4c9c16ec43b1-20024 .ow-button-base a.ow-button-hover:hover {
  background: #050505;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #050505), color-stop(1, #050505));
  background: -ms-linear-gradient(bottom, #050505, #050505);
  background: -moz-linear-gradient(center bottom, #050505 0%, #050505 100%);
  background: -o-linear-gradient(#050505, #050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#050505', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff !important;
}